@font-face {
  font-family: 'letra';
  src: url('letra.ttf') format('truetype');
}


body {
  font-family: 'letra', monospace;
  background-color: #0f0f0f;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

nav {
  background-image: url("/recursos/imagenes/nav/cuero.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  height: 100px;
  margin-left: 3%;
  margin-right: 5%;
  position: relative;
  font-size: 30px;
  box-shadow: 20px 20px 10px black;
  margin-bottom: 3%;
  margin-top: 0%;
}

.menu_desplegables_y_logo {
  display: flex;
  align-items: center;
  gap: 1px;

}

.menu_desplegables_y_logo ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_desplegables_y_logo .desplegable {
  position: relative;
}

.menu_desplegables_y_logo .desplegable p {
  background-color: inherit;
  padding: 8px 16px;
  margin: 0;
  width: 80px;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.menu_desplegables_y_logo .contenido-desplegable {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 140px;
  text-align: left;
  padding: 10px;
  border: 2px solid black;
}

.menu_desplegables_y_logo .contenido-desplegable a {
  display: block;
  width: 100%;
  padding: 5px 2px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  break-inside: avoid-column;
}

.menu_desplegables_y_logo .contenido-desplegable a:hover {
  color: rgb(45, 15, 49);
}

.menu_desplegables_y_logo .desplegable:hover .contenido-desplegable {
  display: block;
}

.logo {
  width: 100px;
  margin-right: 400px;
  margin-left: 20px;
}

.libro {
  margin-left: -1300px;
  margin-top: 140px;
}

.foto_espiritu {
  height: auto;
  /* Permite que la altura se ajuste a la imagen */
  width: 20%;
  margin: 0;
  /* Reseteamos los márgenes */
  position: absolute;
  /* Posicionamiento absoluto */
  bottom: 0;
  /* Alineado a la parte inferior */
  left: 0;
  /* Alineado a la parte izquierda */
  margin-left: -200px;
}

.foto_espiritu img {
  max-width: 800px;
  /* Evita que la imagen se salga del contenedor */
  height: 800px;
  /* Mantiene la proporción de la imagen */
}

/* ESTILOS PARA PÁGINA DE FANTASMA ESPÍRITU */


.presentacion {
  background-color: aquamarine;
  float: left;
  width: 300px;
  /* Asegura un ancho definido */
  height: 200px;
  /* Asegura un alto definido */
  padding: 10px;
  /* Añade algo de espacio interior */
  margin: 10px;
  /* Añade separación de otros elementos */
  display: block;
  /* Asegúrate de que se renderice como un bloque */
}

main {
  width: 100%;
  height: 80%;
}

@font-face {
  font-family: 'letra';
  src: url('letra.ttf') format('truetype');
}

html {
  scrollbar-width: none;
}

body {
  font-family: 'letra', monospace;
  background-color: #0f0f0f;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* Added to ensure main takes remaining space */
}



video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.logo {
  width: 100px;
  margin-right: 300px;
  margin-left: 0px;
}



/* Nombre que desaparece */

.desaparece {
  margin-top: 50px;
  margin-left: 200px;
  transform: translate(-220px, -50px);
}

.desaparece ul {
  display: flex;
}

.desaparece ul li {
  list-style: none;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 6em;
  font-weight: bold;
  filter: blur(1px);
  font-family: 'letra';
}

.desaparece ul:hover li {
  animation: humo 1s linear forwards;
}

@keyframes humo {
  0% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
    filter: blur(1px);
  }

  100% {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
  }
}

.desaparece ul li:nth-child(1) {
  animation-delay: 0s;
}

.desaparece ul li:nth-child(2) {
  animation-delay: .1s;
}

.desaparece ul li:nth-child(3) {
  animation-delay: .2s;
}

.desaparece ul li:nth-child(4) {
  animation-delay: 0.3s;
}

.desaparece ul li:nth-child(5) {
  animation-delay: 0.4s;
}

.desaparece ul li:nth-child(6) {
  animation-delay: 0.5s;
}

.desaparece ul li:nth-child(7) {
  animation-delay: 0.6s;
}

.desaparece ul li:nth-child(8) {
  animation-delay: 0.7s;
}

.desaparece ul li:nth-child(9) {
  animation-delay: 0.8s;
}

.desaparece ul li:nth-child(10) {
  animation-delay: 0.9s;
}

.desaparece ul li:nth-child(11) {
  animation-delay: 1s;
}

.desaparece ul li:nth-child(12) {
  animation-delay: 1.1s;
}


/* ESTILOS PÁGINA FANTASMAS */



.espiritu {
  justify-content: center;
  font-family: monospace;
  width: 85%;
  height: 700px;
  background-color: rgb(14, 14, 14);
  border: #0f0f0f 1px solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(46, 46, 46);
  margin-left: 6%;
  margin-bottom: 10%;

}

h2{
  font-family: 'letra';
  padding: -100px;
  margin-top: -1px;
  margin-bottom: -6px;
}

.nombre_logo_pruebas {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.desaparece {
  margin-top: 50px;
}



.pruebas {
  display: flex;
  width: 450px;
  margin-left: 380px;
  filter: drop-shadow(5px 5px 5px rgb(46, 46, 46));

}

.descripcion {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 1580px;
  font-size: 1.5em;
  margin-top: -40px;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 0px;
  border-radius: 10px;

}

.descripcion p {
  margin-top: 10px;
  padding: auto;

}

.caracteristicas_tips {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;

}

.caracteristicas {
  background-color: rgb(255, 255, 255);  margin-right: 20px;
  width: 600px;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;


}

.tips {
  background-color: rgb(255, 255, 255);  width: 700px;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;


}

.datos {
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  border-radius: 10px;

  width: 300px;
  font-size: 1.5em;
  padding: 10px;
}
