body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    background-color: rgb(250, 239, 225);
}

.tituloytimer{
    display: flex;
    margin-left: 38%;
}

.timer {
    display: flex;
    margin-left: 40%;
    margin-top: 1%;

}

h1 {
    padding: 0%;
}

.home-button {
    color: #000;
    background-color: rgb(172, 249, 94);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 15%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    position: fixed; /* Fija el botón a la ventana */
    bottom: 0; /* Posiciona el botón en la parte inferior */
    left: 50%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Ajusta la posición para que quede centrado */
}

.home-button:hover{
    background-color: rgb(162, 255, 68);
}

.question-container {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 8%;
    background-color: rgb(161, 190, 243);
    border-radius: 5%;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    /* Apply the label styles to .question */
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
}

.question:hover,
.question:focus-within,
.question:active {
    background: hsla(0, 0%, 80%, .14);
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.option-button {
    margin-left: 10px;
}

.radio-input {
    display: none;
    /* Hide the default radio input */
}

.radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
    cursor: pointer;
    /* Add cursor for interactivity */
}

.radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.radio-input:checked+.radio-design::before {
    transform: scale(0);
}

/* Estilo para todas las opciones */
.option {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
}


.option:hover,
.option:focus-within,
.option:active {
    background: hsla(240, 93%, 48%, 0.14);
}

.option-button {
    /*  Cada texto de cada pregunta */
    display: block;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: left;
}


.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}